
<div class="col-sm-3">
</div>
<div class="col-sm-5">
	<div class="center">
	<h1>Login</h1>
		<a href="/auth/google"><%= image_tag("login_google.png", width: "64", height: "64", alt: "") %></a>
	</div>
</div>